h1 {
    color: green;
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2 {
    text-align: center;
} 

p {
   height: 25px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.link {
      text-transform: uppercase;
}
img{
        float: left; 
        padding: 0 20px 20px 0;
}


#img{
    float: right; 
    padding: 0 20px 20px 0;
}
}